{% extends 'base.html' %} {% block title %}Add Employee's Record{% endblock title %} {% block body %}
<div class="container my-5">
    <h1>Add Employee</h1>
    <form action=" " method="POST" id="createForm">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Employee ID</label>
            <input type="text" class="form-control" id="userid" name="employee_id" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Age</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="age">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Position</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="position">
        </div>
        <button type="submit" id="submitbutton" value="Submit" class="btn btn-primary">Submit</button>
    </form>
    <script type="text/javascript">
        var f = document.getElementById('createForm');
        document.getElementById('submitbutton').addEventListener('click',  e =>{
            e.preventDefault();
        var u_id = document.getElementById('userid');
            u_id.value = parseInt(u_id.value);
            var v = parseInt(u_id.value);
            console.log(typeof(v));
            if(typeof(v) == NaN){
                alert(`Value entered ${u_id.value} is not a valid value, Please enter numeric values only!!!`);
            }else{
        if(u_id.value.trim().length > 12){
            alert(`You have entered ${u_id.value.trim()}, which is more then permisible limit. Please enter value less then or equal to 12`);
            }else{
                f.submit();
            }
            }
        });     
    </script>
    
</div>
{% endblock body %}
